<!-- <div class="container">
  <div class="row">
    <div class="col-3 vh-100">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" >
    
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a href="#" class="list-group-item list-group-item-action  py-3 lh-tight" >
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">John</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">last message</div>
          </a>
          
        </div>
      </div>
    </div>
    <div class="col-9 border">
      <div id="head" class="py-3 lh-sm border-bottom">
        <strong class="mb-1">Members:John,smith</strong>
      </div>

      <div id="conversation" class="py-3">
        <div class="row">
          <div class="col-6">
            <div class="alert alert-info d-inline-block " role="alert">
              hi
            </div>
          </div>

          <div class="col-6">           
          
          </div>
        </div>

        <div class="row">
          <div class="col-6">
          </div>

          <div class="col-6">
            <div class="alert alert-warning d-inline-block float-end" role="alert">
              hi
            </div>
          
          </div>
        </div>
      </div>


        

      <form action="" id="replay" class="p-3 w-100" [formGroup]="form" (ngSubmit)="onMessageSend()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="write a message" formControlName="message">
        </div>
      </form>
    </div>
  </div>
  
</div> -->

<div class="container">
  <div class="row">
    <div class="col-3 vh-100">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">John</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">last message</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-9 border">
      <div id="head" class="py-3 lh-sm border-bottom">
        <strong class="mb-1">Members: John, Smith</strong>
      </div>

      <div id="conversation" class="py-3">
        <div *ngFor="let message of messages" class="row">
          <div [ngClass]="{'col-6': message.user === 'You', 'offset-6 col-6': message.user !== 'You'}">
            <div class="alert" [ngClass]="{'alert-info': message.user === 'You', 'alert-warning': message.user !== 'You'}">
              {{ message.message }}
            </div>
          </div>
        </div>
      </div>

      <form id="replay" class="p-3 w-100" [formGroup]="form" (ngSubmit)="onMessageSend()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Write a message" formControlName="message" />
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
